<div class="conteiner-produtos">
    <h2>CALDOS</h2>
    <div class="produto produto-1">
        <img class="produto-img" src="{{ produtos[0][3] }}" alt="produto img">
        <div class="dados-produto dados-produto-1">
            <p class="nome-produto">{{ produtos[0][1] }}</p>
            <p>acompanha torradinhas</p>
            <p class="p-preco">R$ <span>{{ produtos[0][2] }}</span></p>
        </div>
    </div>
    <div class="produto produto-1">
        <img class="produto-img" src="{{ produtos[1][3] }}" alt="produto img">
        <div class="dados-produto dados-produto-1">
            <p class="nome-produto">{{ produtos[1][1] }}</p>
            <p>acompanha torradinhas</p>
            <p class="p-preco">R$ <span>{{ produtos[1][2] }}</span></p>
        </div>
    </div>
</div>