<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/carrinho.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagens/favicon.ico') }}" type="image/x-icon">
    <title>Carrinho - Quiosque do Galego</title>
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='imagens/logo.png') }}" alt="Logo"></a>
        <div>
            <a href="{{ url_for('home') }}"><span class="material-symbols-outlined carrinho">undo</span></a>
            <a href="#"><span class="material-symbols-outlined carrinho">shopping_cart</span></a>
        </div>
    </header>
    <main>
        <h2 class="tt-carrinho">CARRINHO</h2>
        <section class="carrinho-produtos">
            {% if itens == [] %}
            <p style="width: 100%; text-align: center;">seu carrinho está vazio</p>
            {% endif %}
            {% for item in itens %}
            <div class="produto-n-carrinho">
                <p class="dados-acom" style="display: none;">{{ item['acompanhamentos'] }}</p>
                <p class="dados-obs" style="display: none;">{{ item['obs'] }}</p>
                <p class="dados-preco" style="display: none;">{{ item['preco'] }}</p>
                <div class="dados-produto-carrinho">
                    <img class="imagem-produto-carrinho" src="{{ item['img'] }}" alt="">
                    <div class="mais-dados">
                        <h3 class="nome-produto-carrinho">{{ item['nome'] }}</h3>
                        <p class="acompanhamentos-carrinho">{% if item['acompanhamentos'] != [] %}<span style="font-weight: bolder;">com: </span>{% for ac in item['acompanhamentos'] %} {{ ac }}, {% endfor %}{% endif %}</p>
                        <p class="obs-carrinho">{% if item['obs'] != '' %}<span style="font-weight: bolder;">obs: </span>{{ item['obs'] }}{% endif %}</p>
                    </div>
                </div>
                <div class="butoes-produto-carrinho">
                    <p class="p-preco">R$ <span>{{ item['preco'] }}</span></p>
                    <div class="quantidade"><span>Qtd: </span><span class="menos">-</span><span class="qtd">1</span><span class="mais">+</span></div>
                    <button class="remover">Remover</button>
                </div>
            </div>
            {% endfor %}
        </section>
        <section class="finalizar">
            <p>Total: <span class="p-preco">R$<span class="total">00.00</span></span></p>
            <button class="btn-finalizar">Finalizar</button>
        </section>
    </main>
    <footer>
        <div class="sociais">
            <h3>REDES SOCIAIS:</h3>
            <a href="#">Instagram <img src="../static/imagens/instagram.png" alt="social"></a>
            <a href="#">Facebook <img src="../static/imagens/instagram.png" alt="social"></a>
            <a href="#">WhatsApp <img src="../static/imagens/instagram.png" alt="social"></a>
        </div>
        <div class="informacoes">
            <div class="endereco">
                <h3>VENHA NOS VISITAR</h3>
                <p>Praça da QE 19 - Guará II</p>
                <p>Brasília - DF</p>
            </div>
            <div class="funcionamento">
                <h3>FUNCIONAMENTO</h3>
                <p>Segunda-Feira Fechado</p>
                <p>Terça-Feira 09h/16h</p>
                <p>Quarta a Sábado 09h/23h</p>
                <p>Domingos e Frriados 09h/22h</p>
            </div>
        </div>
    </footer>
    <p class="creditos">site criado por <a href="#">Rafael Brandão</a></p>
    <script src="{{ url_for('static', filename='js/carrinho.js') }}"></script>
</body>
</html>