<div class="conteiner-produtos">
    <div class="produto produto-1">
        <img class="produto-img" src="{{ produtos[0][3] }}" alt="produto img">
        <div class="dados-produto dados-produto-1">
            <p class="nome-produto">{{ produtos[0][1] }}</p>
            <p>cebola recheada com carne moida e cream cheease, envolta no bacon e assada na brasa.</p>
            <p class="p-preco">R$ <span>{{ produtos[0][2] }}</span></p>
        </div>
    </div>
    <div class="produto produto-1">
        <img class="produto-img" src="{{ produtos[1][3] }}" alt="produto img">
        <div class="dados-produto dados-produto-1">
            <p class="nome-produto">{{ produtos[1][1] }}</p>
            <p>pimenta dedo de moça, recheada com carne moida e cream cheese, envolta no bacon e assada na brasa.</p>
            <p class="p-preco">R$ <span>{{ produtos[1][2] }}</span></p>
        </div>
    </div>
    <div class="produto produto-1">
        <img class="produto-img" src="{{ produtos[2][3] }}" alt="produto img">
        <div class="dados-produto dados-produto-1">
            <p class="nome-produto">{{ produtos[2][1] }}</p>
            <p>banana com calabresa, envolta no bacon e assada na brasa.</p>
            <p class="p-preco">R$ <span>{{ produtos[2][2] }}</span></p>
        </div>
    </div>
</div>