<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/finalizar.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagens/favicon.ico') }}" type="image/x-icon">
    <title>Carrinho - Quiosque do Galego</title>
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='imagens/logo.png') }}" alt="Logo"></a>
        <div>
            <a href="{{ url_for('carrinho') }}"><span class="material-symbols-outlined carrinho">undo</span></a>
        </div>
    </header>
    <h2 class="tt-finalizar">Finalizando Pedido</h2>
    <main>
        <section class="dados-pessoais">
            <h3>Dados Pessoais</h3>
            <div class="dados-pessoais-dados">
                <label class="label" for="nome"><input type="text" name="nome" id="nome" autocomplete="off" placeholder="nome"></label>
                <label class="label" for="telefone"><input type="tel" name="telefone" id="telefone" placeholder="telefone ex: (61)91234-5678"></label>
                <p class="erro aviso" style="display: none; color: red;">Preencha todos os campos</p>
                <p class="aviso">preencha esses campos corretamente pois se ouver algum problema com seu pedido entraremos em contato</p>
            </div>
            <button id="btn-dados-pessoais">Continuar</button>
        </section>
        <section class="endereco" id="endereco" style="display: none;">
            <h3>Endereço da Entrega</h3>
            <label class="label" for="cep"><input type="number" name="cep" id="cep" maxlength="9" oninput="validarCEP(this)" placeholder="digite seu CEP"></label>
            <p class="erro1 aviso" style="display: none; color: red;">digite o cep corretamente</p>
            <div>
                <a href="#">não sei meu CEP</a>
                <button class="verificar-cep">Verificar CEP</button>
            </div>
            <p class="erro2 aviso" style="display: none; color: red;">ERRO, CEP não encontrado</p>
            <p class="erro3 aviso" style="display: none; color: red;">infelizmente nosso sistema de entregas não cobre a sua região</p>

            <div class="endereco-dados">

            </div>
        </section>
        <section class="pagamento" id="pagamento" style="display: none;">
            <h3>Forma de pagamento</h3>
            <div class="pagamento-opcoes">
                <label for="pix">Pix: <input type="checkbox" class="m-pagamento" name="pix" id="pix"></label>
                <label for="cartão">Cartão: <input type="checkbox" class="m-pagamento" name="cartão" id="cartão"></label>
                <label for="dinheiro">Dinheiro: <input type="checkbox" class="m-pagamento" name="dinheiro" id="dinheiro"></label>
            </div>
            <div class="troco" style="display: none;">
                <p class="aviso">digite o valor que vai pagar em dinheiro, para que a pessoa que for entregar seu pedido leve o troco para você.</p>
                <p class="aviso">deixe vazio se não precisar de troco.</p>
                <label class="label" for="troco"><input type="number" name="troco" id="troco" autocomplete="off" placeholder="valor"></label>
            </div>
            <button class="btn-pagamento">Continuar</button>
            <p class="erro4 aviso" style="display: none; color: red;">escolha a forma de pagamento</p>
        </section>
        <section class="finalizar" id="finalizar" style="display: none;">
            <p class="aviso">confira se todos os dados estão corretos</p>
            <button class="pedir">Enviar Pedido</button>
        </section>
    </main>
    <footer>
        <div class="sociais">
            <h3>REDES SOCIAIS:</h3>
            <a href="#">Instagram <img src="../static/imagens/instagram.png" alt="social"></a>
            <a href="#">Facebook <img src="../static/imagens/instagram.png" alt="social"></a>
            <a href="#">WhatsApp <img src="../static/imagens/instagram.png" alt="social"></a>
        </div>
        <div class="informacoes">
            <div class="endereco">
                <h3>VENHA NOS VISITAR</h3>
                <p>Praça da QE 19 - Guará II</p>
                <p>Brasília - DF</p>
            </div>
            <div class="funcionamento">
                <h3>FUNCIONAMENTO</h3>
                <p>Segunda-Feira Fechado</p>
                <p>Terça-Feira 09h/16h</p>
                <p>Quarta a Sábado 09h/23h</p>
                <p>Domingos e Frriados 09h/22h</p>
            </div>
        </div>
    </footer>
    <p class="creditos">site criado por <a href="#">Rafael Brandão</a></p>
    <script src="{{ url_for('static', filename='js/finalizar.js') }}"></script>
</body>
</html>