<div class="conteiner-produtos">
    <h2>HAMBÚRGUER</h2>
    {% if produtos[0][4] == 'disponivel' %}
    <div class="produto produto-1">
        <img class="produto-img" src="{{ produtos[0][3] }}" alt="produto img">
        <div class="dados-produto dados-produto-1">
            <p class="nome-produto">{{ produtos[0][1] }}</p>
            <p>Pão, Blend Bovino 160g e Queijo Cheddar</p>
            <p class="p-preco">R$ <span>{{ produtos[0][2] }}</span></p>
        </div>
    </div>
    {% endif %}
    {% if produtos[1][4] == 'disponivel' %}
    <div class="produto produto-1">
        <img class="produto-img" src="{{ produtos[1][3] }}" alt="produto img">
        <div class="dados-produto dados-produto-1">
            <p class="nome-produto">{{ produtos[1][1] }}</p>
            <p>Pão, Blend Bovino 160g, Queijo Cheddar, Bacon, Alface e Tomate</p>
            <p class="p-preco">R$ <span>{{ produtos[1][2] }}</span></p>
        </div>
    </div>
    {% endif %}
    {% if produtos[2][4] == 'disponivel' %}
    <div class="produto produto-1">
        <img class="produto-img" src="{{ produtos[2][3] }}" alt="produto img">
        <div class="dados-produto dados-produto-1">
            <p class="nome-produto">{{ produtos[2][1] }}</p>
            <p>Pão, Blend Bovino 160g, Queijo Cheddar, Bacon, Ovo, Alface e Tomate</p>
            <p class="p-preco">R$ <span>{{ produtos[2][2] }}</span></p>
        </div>
    </div>
    {% endif %}
    {% if produtos[3][4] == 'disponivel' %}
    <div class="produto produto-1">
        <img class="produto-img" src="{{ produtos[3][3] }}" alt="produto img">
        <div class="dados-produto dados-produto-1">
            <p class="nome-produto">{{ produtos[3][1] }}</p>
            <p>Pão, Blend Bovino 160g, Queijo Cheddar, Bacon, Catchup, Cebola Crispy, Barbecue e Picles</p>
            <p class="p-preco">R$ <span>{{ produtos[3][2] }}</span></p>
        </div>
    </div>
    {% endif %}
    {% if produtos[4][4] == 'disponivel' %}
    <div class="produto produto-1">
        <img class="produto-img" src="{{ produtos[4][3] }}" alt="produto img">
        <div class="dados-produto dados-produto-1">
            <p class="nome-produto">{{ produtos[4][1] }}</p>
            <p>Pão, Blend Bovino 160g, Queijo Cheddar, Bacon e Cebola Caramelizada</p>
            <p class="p-preco">R$ <span>{{ produtos[4][2] }}</span></p>
        </div>
    </div>
    {% endif %}
    {% if produtos[5][4] == 'disponivel' %}
    <div class="produto produto-1">
        <img class="produto-img" src="{{ produtos[5][3] }}" alt="produto img">
        <div class="dados-produto dados-produto-1">
            <p class="nome-produto">{{ produtos[5][1] }}</p>
            <p>Pão, Blend Bovino 160g, Queijo Qualho, Bacon, Alface, Rúcula, Tomate e Melaço de Cana</p>
            <p class="p-preco">R$ <span>{{ produtos[5][2] }}</span></p>
        </div>
    </div>
    {% endif %}
    <p>Imagens ilustrativas</p>
</div>