<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/home.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagens/favicon.ico') }}" type="image/x-icon">
    <title>Quiosque do Galego</title>
</head>
<body>
    <header>
        <a href="#"><img src="{{ url_for('static', filename='imagens/logo.png') }}" alt="Logo"></a>
        <div>
            <a href="{{ url_for('carrinho') }}"><span class="material-symbols-outlined carrinho">shopping_cart</span></a>
        </div>
    </header>
    <main>
        <section class="apresentacao">
            <h2>Bateu Aquela fome?</h2>
            <h3>Faça já seu pedido!</h3>
            <img src="{{ url_for('static', filename='imagens/comidaDeButeco.png') }}" alt="comida de buteco">
        </section>
        <nav class="sessoes">
            {% for sessao in sessoes %}
            {% if sessao[3] == 'disponivel' %}
                <a class="nav-link" data-section="{{ sessao[2] }}" href="{{ url_for( sessao[2] ) }}">{{ sessao[1] }}</a>
            {% endif %}
            {% endfor %}
        </nav>
        <section class="produtos">
            <div class="conteiner-produtos">
                {% if sessoes[0][3] == 'disponivel' %}
                    {% for prato in pratosfds %}
                    <div class="produto pratos">
                        <img class="produto-img" src="{{ prato[3] }}" alt="produto img">
                        <div class="dados-produto">
                            <p class="nome-produto">{{ prato[1] }}</p>
                            <p class="p-preco">R$ <span>{{ prato[2] }}</span></p>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    {% for prato in pratossem %}
                    <div class="produto pratos">
                        <img class="produto-img" src="{{ prato[3] }}" alt="produto img">
                        <div class="dados-produto">
                            <p class="nome-produto">{{ prato[1] }}</p>
                            <p class="p-preco">R$ <span>{{ prato[2] }}</span></p>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </section>
    </main>
    </div>
    <footer>
        <div class="sociais">
            <h3>REDES SOCIAIS:</h3>
            <a href="#">Instagram <img src="../static/imagens/instagram.png" alt="social"></a>
            <a href="#">Facebook <img src="../static/imagens/instagram.png" alt="social"></a>
            <a href="#">WhatsApp <img src="../static/imagens/instagram.png" alt="social"></a>
        </div>
        <div class="informacoes">
            <div class="endereco">
                <h3>VENHA NOS VISITAR</h3>
                <p>Praça da QE 19 - guaará II</p>
                <p>Brasília - DF</p>
            </div>
            <div class="funcionamento">
                <h3>FUNCIONAMENTO</h3>
                <p>Segunda-Feira Fechado</p>
                <p>Terça-Feira 09h/16h</p>
                <p>Quarta a Sábado 09h/23h</p>
                <p>Domingos e Frriados 09h/22h</p>
            </div>
        </div>
    </footer>
    <p class="creditos">site criado por <a href="#">Rafael Brandão</a></p>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>