<div class="conteiner-produtos">
    <h2>PÃO DELICIA</h2>
    <div class="produto produto-1">
        <img class="produto-img" src="{{ produtos[0][3] }}" alt="produto img">
        <div class="dados-produto dados-produto-1">
            <p class="nome-produto">{{ produtos[0][1] }}</p>
            <p>pão francês / pasta de alho / queijo mussarela / vinagrete / espetinho de coração</p>
            <p class="p-preco">R$ <span>{{ produtos[0][2] }}</span></p>
        </div>
    </div>
    <div class="produto produto-1">
        <img class="produto-img" src="{{ produtos[1][3] }}" alt="produto img">
        <div class="dados-produto dados-produto-1">
            <p class="nome-produto">{{ produtos[1][1] }}</p>
            <p>pão francês / pasta de alho / queijo mussarela / vinagrete / espetinho de kafta</p>
            <p class="p-preco">R$ <span>{{ produtos[1][2] }}</span></p>
        </div>
    </div>
    <div class="produto produto-1">
        <img class="produto-img" src="{{ produtos[2][3] }}" alt="produto img">
        <div class="dados-produto dados-produto-1">
            <p class="nome-produto">{{ produtos[2][1] }}</p>
            <p>pão francês / pasta de alho / queijo mussarela / vinagrete / espetinho de limguiça</p>
            <p class="p-preco">R$ <span>{{ produtos[2][2] }}</span></p>
        </div>
    </div>
</div>