h2.tt-carrinho {
    width: 100%;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 8px rgba(132, 165, 50, 0.367);
}

.carrinho-produtos {
    min-height: calc(100vh - 75px);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.produto-n-carrinho {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(132, 165, 50, 0.367);
    border-radius: 8px;
}

.imagem-produto-carrinho {
    width: 130px;
    box-shadow: 2px 0px 3px #00000035;
    border-radius: 8px 0px 0px 8px;
}

h3.nome-produto-carrinho {
    color: black;
    text-shadow: 1px 1px 2px #00000035;
}
